.star {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    z-index: 0;

    &__num {
        margin-right: 3px;
        font-weight: 700;
        font-size: inherit;
        color: $dark-500;
    }
}